<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>KROME Sports Performance</title>

    <!-- SEO Meta Tags -->
    <meta name="description"
        content="KROME Sports Performance: Promoting a safe, educational environment for students excelling in weightlifting, fitness, and beyond.">
    <meta name="keywords"
        content="KROME Sports Performance, weightlifting, fitness, student training, safe environment">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/2c43223b58.js" crossorigin="anonymous"></script>

    <style>
        .hero-section {
            background-color: black;
            background-size: cover;
            background-position: center;
            height: 90vh;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            text-align: center;
        }

        .mission-card {
            max-width: 500px;
            min-height: 400px;
        }
    </style>
</head>

<body>

    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <div class="container">
            <a class="navbar-brand text-warning" href="{% url 'kspmembers' %}">KROME Sports Performance</a>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-warning" href="{% url 'kspchallenge' %}" role="button"
                        data-toggle="dropdown" aria-expanded="false">
                        Daily Workouts
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'kspchallenge' %}">6 Week Challenge Home</a>
                        <a class="dropdown-item" href="{% url 'monday' %}">Monday</a>
                        <a class="dropdown-item" href="{% url 'tuesday' %}">Tuesday</a>
                        <a class="dropdown-item" href="{% url 'wednesday' %}">Wednesday</a>
                        <a class="dropdown-item" href="{% url 'thursday' %}">Thursday</a>
                        <a class="dropdown-item" href="{% url 'friday' %}">Friday</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Video Section -->
    <section class="container my-5 text-center">
        <div class="col-md">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/fU599S2F3k4" width="550"
                    height="450" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="row my-4">
            <div class="col-lg">
                <table class="table bg-white">
                    <thead class="bg-warning">
                        <tr class="text-white">
                            <th scope="col">Mobility Stretches</th>
                            <th scope="col"></th>
                            <th scope="col">Dynamic Movements</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>Knee Pulls</td>
                            <td>Frankenstiens</td>
                            <td>High Knees</td>
                            <td>Big Crossovers</td>
                        </tr>
                        <tr>
                            <td>Quad Pulls </td>
                            <td>Walking Squats</td>
                            <td>Butt Kickers</td>
                            <td>A Skips</td>
                        </tr>
                        <tr>
                            <td>Ankle Tugs</td>
                            <td>Single Leg RDL's</td>
                            <td>Irish Jigs</td>
                            <td>B-Skips</td>
                        </tr>
                        <tr>
                            <td>Toe Swoops</td>
                            <td>Ham. Pulls</td>
                            <td>A Runs</td>
                            <td>A Skips High</td>
                        </tr>
                        <tr>
                            <td>Lateral Lunges</td>
                            <td>Heismans</td>
                            <td>Cha Cha's</td>
                            <td>A Skips Distance</td>
                        </tr>
                </table>
            </div>
        </div>
    </div>

    <!--Table-->
    <div class="container">
        <div class="row my-4">
            <div class="col-lg">
                <table class="table bg-white">
                    <thead class="bg-warning">
                        <tr class="text-white">
                            <th scope="col">Block</th>
                            <th scope="col">Movement</th>
                            <th scope="col">Exercise</th>
                            <th scope="col">Sets</th>
                            <th scope="col">Reps</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>A</td>
                            <td>PLYOMETRICS</td>
                            <td>Front / Lateral Pogo Sequence</td>
                            <td>4</td>
                            <td>5</td>

                        </tr>
                        <tr>
                            <td>B</td>
                            <td>AGILITY</td>
                            <td>Cone Drills (ATW)</td>
                            <td>3</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>C</td>
                            <td>SPRINTS</td>
                            <td>Sprint Progessions HK F&L</td>
                            <td>2</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>C</td>
                            <td>SPRINTS</td>
                            <td>Free Throw Line Sprints</td>
                            <td>12</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>C</td>
                            <td>SPRINTS</td>
                            <td>Half Court Sprints</td>
                            <td>10</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>C</td>
                            <td>SPRINTS</td>
                            <td>Full Court Sprints</td>
                            <td>8</td>
                            <td>1</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!--End Table-->

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    -->
</body>

</html>